<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']"><img src="/assets/images/pipoca.png" style="height: 2.5em;"> MyFilms</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav left-nav">
                <li class="nav-item">
                    <a mdbRipple class="nav-link active" [routerLink]="['/']">Home</a>
                </li>
                <li class="nav-item">
                    <a mdbRipple class="nav-link" [routerLink]="['/sobre']">Sobre</a>
                </li>
                <li mdbRipple class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin']">Admin</a>
                </li>
            </ul>
            <ul class="navbar-nav right-nav">
                <li mdbRipple class="nav-item">
                    <a class="nav-link" [routerLink]="['/']"><i class="fas fa-box-open"></i> Carrinho</a>
                </li>
                <li class="nav-item">
                    
                        <a mdbRipple class="nav-link btn btn-primary btn-raised login-button" [routerLink]="['/']"><i class="far fa-user"></i> Login</a>
                    
                </li>
            </ul>
        </div>
    </div>
</nav>