<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <!-- Logo MyFilms -->
        <a class="navbar-brand" [routerLink]="['/filmes']"><img src="/assets/images/pipoca.png" style="height: 2.5em;">
            MyFilms</a>

        <!-- Nav Itens -->
        <div class="collapse navbar-collapse" id="navbarNav">

            <!-- Esquerda da Nav Bar -->
            <ul class="navbar-nav left-nav">

                <!-- Home -->
                <li class="nav-item">
                    <a mdbRipple class="nav-link" [routerLink]="['/filmes']">Home</a>
                </li>

                <!-- Admin -->
                <li mdbRipple class="nav-item" *ngIf="authService.isAdmin()">
                    <a class="nav-link" [routerLink]="['/admin/filmes/listar']" routerLinkActive="active">Admin</a>
                </li>
            </ul>

            <!-- Direita da Nav Bar -->
            <ul class="navbar-nav right-nav">

                <!-- Carrinho -->
                <li mdbRipple class="nav-item">
                    <a class="nav-link" [routerLink]="['/carrinho']" routerLinkActive="active"><i
                            class="fas fa-box-open"></i> Carrinho</a>
                </li>

                <!-- Login -->
                <li class="nav-item" *ngIf="!authService.isAutenticado()">
                    <a mdbRipple class="nav-link btn btn-primary btn-raised login-button"
                        [routerLink]="['/auth/login']"><i class="far fa-user"></i> Login</a>
                </li>

                <!-- User -->
                <li *ngIf="authService.isAutenticado()" class="nav-item dropdown" mdbDropdown>
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2"
                            mdbDropdownToggle mdbRipple aria-expanded="false">
                            <a mdbRipple class="nav-link"><i class="far fa-user"></i> Bem vindo {{usuario.nome}}</a>
                        </button>
                        <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li>
                                <a mdbRipple class="dropdown-item" (click)="logout()">Logout</a>
                            </li>
                        </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>