<div class="search">
    <div class="search-itens">

        <ng-autocomplete 
            [data]="filmes" 
            [searchKeyword]="keyword" 
            placeholder="Search by name"
            [(ngModel)]="search"
            >
        </ng-autocomplete>


        <select placeholder="Category" [(ngModel)]="searchcat">
            <option>
                Categoria
            </option>
            <option>
                Comédia
            </option>
            <option>
                Terror
            </option>
            <option>
                Infantil
            </option>
        </select>
    </div>
</div>

<section id="catalogo-filmes">
    <div *ngFor="let grupo of grupos | categoriaFilter: searchcat">
        <div class="nome-grupo" *ngIf = "search === ''"> {{grupo.key}} </div>
        <div class="grupo">
            <div class="card-filmes"
                *ngFor="let filme of grupo.values | filter: search: field.toLowerCase()"
                routerLink="/filme-details/{{filme.id}}">
                <div *ngIf="filme.foto; else noImg">
                    <img mat-card-image src="{{filme.foto}}" class="filme-foto">
                </div>
                <ng-template #noImg>
                    <img mat-card-image src="../../assets/images/ef3-placeholder-image.jpg" class="filme-foto">
                </ng-template>
                <div class="card-inner info">
                    <h3 class="filme-nome">
                        {{ filme.nome }}
                    </h3>
                    <h6 class="filme-desc">
                        {{ truncate(filme.desc) }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>