.container {
    margin-left: 10rem;
    margin-top: 2rem;
    width: 100%;
    height: auto;
    margin-bottom: 90px;
}

.grupo {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.nome-grupo {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 2vw;
    font-size: 25px;
}

table {
    width: 90%;
    margin: 1%;
    color: rgba(255, 255, 255, 0.747);
    margin-bottom: 5rem;
}

i:hover {
    cursor: pointer;
}