<section id="sidebar">
    <div class="sidebox box-melhores">
        <div> melhores filmes </div>
        <div> nome massa</div>
        <div> nome massa</div>
        <div> nome massa</div>
        <div> nome massa</div>
        <div> nome massa</div>
        <div> nome massa</div>
        <div> nome massa</div>
        <div> nome massa</div>
        <div> nome massa</div>
        <div> nome massa</div>
    </div>

    <div class="sidebox box-recentes">
        <div>filmes recentes</div>
        <div> nome massa</div>
        <div> nome massa</div>
        <div> nome massa</div>
        <div> nome massa</div>
        <div> nome massa</div>
        <div> nome massa</div>
    </div>
</section>