<section id="listar-pedidos">
    <div class="container">
        
        <!-- Titulo -->
        <h2 style="color: white; text-align: center; margin-bottom: 50px;"><i class="fas fa-shopping-cart"></i> Pedidos</h2>

        <div class="search">

            <!-- Redirecionar para Filmes -->
            <div routerLink="/admin/filmes/listar" mdbRipple style="float: left; left: 0;"
                class="nav-link btn btn-primary btn-raised login-button"><a><i class="fas fa-list"></i>
                    Filmes</a></div>

            <!-- Buscar Pedidos -->
            <div class="search-itens">

                <!-- Search Bar -->
                <mdb-form-control class="form-white" style="margin-right: 1em;">
                    <input mdbInput type="text" class="form-control custom-input" id="formWhite" filme.data="filmes"
                        filme.searchKeyword="keyword" [(ngModel)]="search" style="width: 25vw;">
                    <label mdbLabel class="form-label custom-label" for="formWhite"><i
                            class="fas fa-search"></i></label>
                </mdb-form-control>

                <!-- Dropdown Filter -->
                <div mdbDropdown class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" mdbDropdownToggle
                        mdbRipple aria-expanded="false">

                        <!-- Valor Exibido-->
                        <span *ngIf="filter==='id'"> Filter </span>
                        <span *ngIf="filter==='totaldec'"> Total <i class="fas fa-arrow-down"></i></span>
                        <span *ngIf="filter==='totalcres'"> Total <i class="fas fa-arrow-up"></i></span>
                    </button>

                    <!-- Valores -->
                    <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li>
                            <button mdbRipple class="dropdown-item" (click)="setFilter('totaldec')">Total <i
                                    class="fas fa-arrow-down"></i></button>
                        </li>
                        <li>
                            <button mdbRipple class="dropdown-item" (click)="setFilter('totalcres')">Total <i
                                    class="fas fa-arrow-up"></i></button>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <!-- Filtro de Pesquisa Searchbar -->
        <div class="nome-grupo" *ngIf="search != ''"> Resultado da pesquisa: {{search}}</div>
        <div>

            <!-- Exibir Categorias -->
            <div class="nome-head">
                <div class="nome-grupo"> Pedidos </div>
            </div>

            <!-- Pedidos Tabulados -->
            <div class="grupo">

                <!-- Filtro para Dropdown de Categorias -->
                <table mat-table [dataSource]="pedidos | filter: search: field.toLowerCase()">

                    <!-- Id -->
                    <ng-container matColumnDef="Id">
                        <th mat-header-cell *matHeaderCellDef> Id </th>
                        <td mat-cell *matCellDef="let pedido"> {{pedido.id}} </td>
                    </ng-container>


                    <!-- Nome Comprador -->
                    <ng-container matColumnDef="Comprador">
                        <th mat-header-cell *matHeaderCellDef> Comprador </th>
                        <td mat-cell *matCellDef="let pedido"> {{pedido.comprador}} </td>
                    </ng-container>

                    <!-- Quantidade de Itens -->
                    <ng-container matColumnDef="Itens">
                        <th mat-header-cell *matHeaderCellDef> Itens </th>
                        <td mat-cell *matCellDef="let pedido"> {{pedido.itens.length}} </td>
                    </ng-container>

                    <!-- Total -->
                    <ng-container matColumnDef="Total">
                        <th mat-header-cell *matHeaderCellDef> Total </th>
                        <td mat-cell *matCellDef="let pedido"> R${{pedido.total}} </td>
                    </ng-container>

                    <!-- Botões -->
                    <ng-container matColumnDef="Acao">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let pedido" style="text-align: center;">
                            <button mdbRipple type="button" class="btn btn-outline-warning btn-editar"
                                data-mdb-ripple-color="dark">
                                <i class="fas fa-pencil"></i>
                            </button>
                            <button mdbRipple type="button" class="btn btn-outline-danger btn-deletar"
                                data-mdb-ripple-color="dark" (click)="deleteConfirm = true; saveId(pedido.id)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
                    <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
                </table>
            </div>
        </div>

        <!-- Modal de Deleção -->
        <div class="delete-modal" *ngIf="deleteConfirm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><b>Deletar Filme</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            (click)="deleteConfirm=false" style="color: white;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza que deseja deletar o pedido selecionado ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="deleteConfirm = false">Close</button>
                        <button type="button" class="btn btn-danger"
                            (click)="excluir(pedidoId); deleteConfirm = false"><b>Delete</b></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>