@import './../../styles';

#footer{
    background-color: $secondary-color !important;
    height: 10vh;
    margin-top: 10vh;
    width: 100%;
    bottom: 0;

    .footer-texto{
        color: $primary-color;
        text-align: center;
        font-size: 24px;
    }

}
