<!-- Footer -->
<div id="footer">
<footer class="text-center text-lg-start text-muted">
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >

      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Desenvolvido com: </span>
      </div>
  
      <!-- Right -->
      <div>
        <a href="https://angular.io/" target="_blank" class="me-4 text-reset">
            <i class="fab fa-angular"></i>
        </a>
        <a href="https://mdbootstrap.com" target="_blank" class="me-4 text-reset">
            <i class="fab fa-mdb"></i>
        </a>
        <a href="https://sass-lang.com/" target="_blank" class="me-4 text-reset">
            <i class="fab fa-sass"></i>
        </a>
      </div>
    </section>
  
    <!-- Section: Alunos  -->
    <section class="">
      <div class="container text-center mt-5">
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Alunos
            </h6>
            <p> Arthur Ogibowski</p>
            <p> Aguinaldo Lucas</p>
            <p> Guilherme Schmidt</p>
            <p> Lincoln Andrade</p>
          </div>
        </div>
    </section>
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      <span>Desenvolvimento de Software Avancado</span>
      <br>
      <span>Professor Geucimar Brilhador</span>
    </div>
  </footer>
</div>