<mat-sidenav-container class="container">
    <mat-sidenav class="side-menu" mode="side" opened fixedInViewport="true" fixedTopGap="80" fixedBottomGap="30">
        <mat-nav-list>
            <li class="nav-item">
                <a mdbRipple class="nav-link active" routerLink="filmes/listar">Listar</a>
            </li>
            <li class="nav-item">
                <a mdbRipple class="nav-link" routerLink="filme/adiconar">Adicionar</a>
            </li>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>