<!-- Pop-up de Adição ao Carrinho -->
<p class="note note-success custom-note" *ngIf="addSucess">
    <strong style="color: dimgray;">
        <i class="fas fa-check" style="margin-right: 10px;"></i>
        <a>Item adicionado ao carrinho</a>
        <i class="fas fa-close" id="fecharSucess" (click)="addSucess = false;"></i>
    </strong>
</p>

<!-- Detalhes do Filme -->
<section id="filme-details">
    <div class="filme-card">

        <!-- Informações a Esquerda -->
        <div class="filme-left">
            <div *ngIf="filme.foto; else noImg">
                <img mat-card-image src="{{filme.foto}}" class="filme-foto">
            </div>

            <!-- Filme sem Imagem -->
            <ng-template #noImg>
                <img mat-card-image src="../../assets/images/ef3-placeholder-image.jpg" class="filme-foto">
            </ng-template>

            <!-- Botões para Adicionar ao Carrinho -->
            <div class="filme-botoes">

                <!-- Comprar Filme -->
                <a mdbRipple class="nav-link btn btn-primary btn-raised filme-button"
                    (click)="adicionarAoCarrinhoCompra(filme)" (click)="addSucess = true;">
                    <span class="filme-preco">
                        ${{ filme.preco_fixo }}
                    </span>

                    <span class="filme-acao">
                        <i class="fas fa-film"></i>
                        Comprar
                    </span>
                </a>

                <!-- Alugar Filme -->
                <a mdbRipple class="nav-link btn btn-outline-primary btn-raised filme-button"
                    (click)="adicionarAoCarrinhoAluguel(filme)" (click)="addSucess = true;">
                    <span class="filme-preco">
                        ${{ filme.preco_aluguel }}
                    </span>

                    <span class="filme-acao">
                        <i class="far fa-clock"></i>
                        Alugar
                    </span>
                </a>
            </div>
        </div>

        <!-- Informações a Direita -->
        <div class="filme-right">

            <!-- Nome do Filme -->
            <h1 class="filme-nome">
                {{ filme.nome }}
            </h1>

            <!-- Descrição do Filme -->
            <h5 class="filme-desc">
                {{ filme.desc }}
            </h5>

            <!-- Data de Lançamento e Diretor do Filme -->
            <h6 class="filme-subcategorias">
                Data de Lancamento: {{ filme.data_lancamento }}
                <br>
                Diretor: {{ filme.diretor }}
            </h6>

        </div>
    </div>
</section>