<section id="catalogo-filmes">
    <div class="card-filmes">
        <div *ngIf="filme.foto; else noImg">
            <img mat-card-image src="{{filme.foto}}" class="filme-foto">
        </div>
        <ng-template  #noImg>
            <img mat-card-image src="../../assets/images/ef3-placeholder-image.jpg" class="filme-foto">
        </ng-template>
        <div class="card-inner info">
            <h3 class="filme-nome">
            {{ filme.nome }}
            </h3>
            <h6 class="filme-desc">
                {{ filme.desc }}
            </h6>
        </div>
    </div>
</section>