.filme-foto {
    width: 4em;
    height: 5em;
}
table {
    width: 90%;
    margin: 1%;
}
.ng-container {
    padding: 1px;
    text-align: center;
    color: white;
}
.ng-container-foto {
    padding: 10px;
    text-align: center;
    color: white;
    border: 0px;
}