table {
    margin-top: 20px;
    margin-bottom: 20px;
}

#itemFoto {
    width: 150px;
    height: 200px;
    margin-right: 150px;
}

th {
    font-size: 15px;
}

td {
    font-size: 20px;
    width: 35vh;
}

.delete-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 20vh;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.708);
}

.modal-content {
    background-color: #3d4489;
    color: white;
}

.modal-body {
    padding-top: 37px;
    padding-bottom: 25px;
}