<!-- Carrinho -->
<section class="vh-100" id="carrinho">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">

                <!-- Titulo -->
                <p><span style="color: white;" class="h2">My Films Cart </span></p>
                
                <!-- Itens do Carrinho -->
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="row align-items-center">

                            <!-- Imagem do Item -->
                            <div class="col-md-2">
                                <img src="../../assets/images/A-Hora-Do-Pesadelo.jpg" class="img" alt="Item-Image"
                                    id="itemFoto">
                            </div>

                            <!-- Nome do Item -->
                            <div class="col-md-4 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">Name</p>
                                    <p class="lead fw-normal mb-0">A Hora do Pesadelo</p>
                                </div>
                            </div>

                            <!-- Tipo de Transação -->
                            <div class="col-md-3 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">Type</p>
                                    <p class="lead fw-normal mb-0">Compra</p>
                                </div>
                            </div>

                            <!-- Preço -->
                            <div class="col-md-3 d-flex justify-content-center">
                                <div>
                                    <p class="small text-muted mb-4 pb-2">Price</p>
                                    <p class="lead fw-normal mb-0">R$20.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cupom e Total -->
                <div class="card mb-5">
                    <div class="card-body p-4 d-flex">
                        
                        <!-- Cupom de Desconto -->
                        <div class="form-outline flex-fill">
                            <input type="text" id="form1" class="form-control form-control-lg" />
                            <label class="form-label" for="form1">Discound code</label>
                        </div>
                        <button type="button" class="btn btn-outline-warning btn-lg ms-3">Apply</button>

                        <!-- Total -->
                        <p class="mb-0 me-5 d-flex align-items-center" style="margin-left: 3vw;">
                            <span class="small text-muted me-2">Order total:</span> <span
                                class="lead fw-normal">R$20.00</span>
                        </p>
                    </div>
                </div>

                <!-- Botões de Ação -->
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-light btn-lg me-2">Continue shopping</button>
                    <button type="button" class="btn btn-primary btn-lg">Finalize purchase</button>
                </div>
            </div>
        </div>
    </div>
</section>