<!-- Carrinho -->
<section class="vh-90">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">

                <!-- Titulo -->
                <p><span style="color: white;" class="h2" *ngIf="!(isCarrinhoVazio | async)">Meu carrinho</span></p>
                <!-- Carrinho Vazio -->
                <div class="card empty-cart mb-4" *ngIf="isCarrinhoVazio | async">
                    <div class="card-body empty-cart-body p-4">
                        <i class="fas fa-shopping-cart empty-cart-icon"></i>
                        <div class="empty-cart-texto">
                            <span class="col-md d-flex justify-content-center">
                                Seu carrinho está vazio ! 
                            </span>
                            <a routerLink="/" class="voltar-menu">
                                Continue comprando
                            <i class="fas fa-arrow-right empty-cart-cotinuar"></i>
                            </a>
                        </div>  
                    </div>
                </div>

            <div class="col checkout-body">
                <!-- Itens do Carrinho -->
                <div class="card mb-4 carrinho-card">
                    <table mat-table *ngIf="!(isCarrinhoVazio | async)" [dataSource]="itensDoCarrinho"
                        style="border-color: transparent;">
                        <div class="card-body p-4">
                            <div class="row align-items-center">
                                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tr-header-carrinho">
                                </tr>

                                <!-- Imagem do Item -->
                                <div class="col-md">
                                    <ng-container matColumnDef="Photo">
                                        <th mat-header-cell *matHeaderCellDef>
                                        </th>
                                        <td mat-cell *matCellDef="let filme">
                                            <img src="{{filme.foto}}" class="img" alt="Item-Image" id="itemFoto">
                                        </td>
                                    </ng-container>
                                </div>

                                <!-- Nome do Item -->
                                <div class="col-md d-flex justify-content-center">
                                    <div>
                                        <ng-container matColumnDef="Nome">
                                            <p class="small text-muted mb-4 pb-2">
                                                <th mat-header-cell *matHeaderCellDef>
                                                </th>
                                            </p>
                                            <p class="lead fw-normal mb-0">
                                                <td mat-cell *matCellDef="let filme">
                                                   <!-- {{truncate(filme.nome)}} -->
                                                    {{filme.nome}}
                                                </td>
                                            </p>
                                        </ng-container>
                                    </div>
                                </div>

                                <!-- Tipo de Transação -->
                                <div class="col-md d-flex justify-content-center">
                                    <div>
                                        <ng-container matColumnDef="Type">
                                            <p class="small text-muted mb-4 pb-2">
                                                <th mat-header-cell *matHeaderCellDef class="filme-tipo">
                                                    Type
                                                </th>
                                            </p>
                                            <p class="lead fw-normal mb-0">
                                                <td mat-cell *matCellDef="let filme">
                                                    {{filme.tipo}}
                                                </td>
                                            </p>
                                        </ng-container>
                                    </div>
                                </div>

                                <!-- Preço -->
                                <div class="col-md d-flex justify-content-center">
                                    <div>
                                        <ng-container matColumnDef="Price">
                                            <p class="small text-muted mb-4 pb-2">
                                                <th mat-header-cell *matHeaderCellDef>
                                                </th>
                                            </p>
                                            <p class="lead fw-normal mb-0">
                                                <td mat-cell *matCellDef="let filme">
                                                    R$ {{filme.preco}}
                                                </td>
                                            </p>
                                        </ng-container>
                                    </div>
                                </div>

                                <!-- Remover -->
                                <div class="col-md d-flex justify-content-center">
                                    <div>
                                        <ng-container matColumnDef="Remove">
                                            <th mat-header-cell *matHeaderCellDef>
                                            </th>
                                            <td mat-cell *matCellDef="let filme" style="text-align: center;">
                                                <a mdbRipple type="button"
                                                class="delete-from-cart"
                                                    data-mdb-ripple-color="dark"
                                                    (click)="saveFilme(filme);  deleteConfirm = true">
                                                    <i class="fas fa-times"></i>
                                            </a>
                                            </td>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <!-- Cupom e Total -->
                <div class="card mb-5 finalizar-compra" *ngIf="!(isCarrinhoVazio | async)">
                    <div class="card-body p-4 d-flex">

                        <!-- Cupom de Desconto -->
                        <div class="form-outline">
                            <input type="text" id="form1" class="form-control form-control-lg" />
                            <label class="codigo-desconto" for="form1">Codigo de desconto</label>
                        </div>
                        <button type="button" class="btn btn-primary btn-lg ms-3 aplicar-cupom">Aplicar</button>
                    </div>
                        <!-- Total -->
                    <p class="mb-0 me-5 d-flex align-items-center subtotal" style="margin-left: 3vw;">
                        <span class="small text-muted me-2">Subtotal:</span>
                        <span class="lead fw-normal"> {{ formatar(valorTotalDoPedido) }}</span>
                    </p>

                    <!-- Botões de Ação -->
                <div class="carrinho-botoes">
                    <a mdbRipple class="continuar-comprando" routerLink="/">Continuar comprando</a>
                    <button type="button" mdbRipple class="btn btn-primary btn-lg finalizar-pedido" (click)="addPedido()"><b>Finalizar pedido</b></button>
                </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Deleção -->
    <div class="delete-modal" *ngIf="deleteConfirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>Remover Item</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="deleteConfirm=false" style="color: white;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja remover o item selecionado ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="deleteConfirm = false"><b>Close</b></button>
                    <button type="button" class="btn btn-danger"
                        (click)="excluir(); deleteConfirm = false"><b>Delete</b></button>
                </div>
            </div>
        </div>
    </div>
</section>