@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100");

@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

$primary-color:  #7269cf;
$primary-darker:  #3d4489;
$secondary-color: #000017;
$secondary-light: #17234a;
$tertiary-color: #b591ff;
$text-color: #C5C6C7;

body{
    background: linear-gradient(150deg, $secondary-color, $secondary-light) !important;
    overflow-x: hidden;
}
*{
    font-family: 'Montserrat', sans-serif;
}

.ripples {
    overflow: hidden;
    position: relative;
}

.btn-primary{
    background-color: $primary-color !important;
    font-weight: 600;

    &:hover{
        background-color: $primary-darker !important;
    }
}
span.bg-primary{
    background-color: $tertiary-color !important;
    font-weight: 600;
}

.btn-outline-primary{
    color: $primary-color !important;
    border-color: $primary-color;
    font-weight: 600;

    &:hover{
        color: $primary-darker !important;
        border-color: $primary-darker;
    }
}

.waves {
    position: absolute;
    display: block;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
}

.ripple {
    -webkit-animation: ripple 0.65s linear;
       -moz-animation: ripple 0.65s linear;
        -ms-animation: ripple 0.65s linear;
         -o-animation: ripple 0.65s linear;
            animation: ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
    }
}

@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
    }
}

@-o-keyframes ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2.5);
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}
